body{
    display: flex;
    justify-content: center;
}
.container{
    border: 1px solid black;
    padding: 20px;
    height: 45%;
}
.section{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
}
.btn{
    height: 55px;
    width: 100%;
    background-color: aqua;
    font-size: 17px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid black;
}
.textbox{
    width: 100%;
    border-radius: 10px;
    border: 1px solid black;
    height: 25px;
    padding: 5px;
    font-size: 17px;
    margin-top: 2px;
}