body{
    display: flex;
    justify-content: center;
}
.container{
    border: 1px solid black;
    padding: 20px;
    height: 48%;
}
.btn{
    height: 55px;
    width: 100%;
    background-color: aqua;
    font-size: 17px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 10px;
}
.textbox{
    width: 100%;
    border-radius: 10px;
    border: 1px solid black;
    height: 25px;
    padding: 5px;
    font-size: 17px;
    margin-top: 10px;
}
.searchContainer{
    display: flex;
    flex-direction: column;
}
.resultTable{
    max-height: 55%;
    overflow-y: auto;
}