.searchContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
}
.container{
    border: 1px solid black;
    padding: 30px;
    height: 35%;
}
.red{
    background-color: red !important;
}
body{
    display: flex;
    justify-content: center;
}
.btn{
    height: 55px;
    width: 50%;
    background-color: aqua;
    font-size: 17px;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 10px;
}
.textbox {
    width: 100%;
    border-radius: 10px;
    border: 1px solid black;
    height: 30px;
    padding: 5px;
    font-size: 17px;
}
.resultTable{
    overflow-y: auto;
}